@charset "UTF-8";

@font-face {
    font-family: 'BebasNeue';
    src: url('fontes/BebasNeue-Regular.otf') format('opentype')url('fontes/BebasNeue-Regular.ttf')format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IDroid';
    src: url('fontes/IDroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #C5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'BebasNeue', cursive;
    --fonte-android:'IDroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor0);
    margin: auto;
}

a.externo::after {
    content: '\1F517 ';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding: 40px;
    text-align: center;
}
header > h1 {
    color: white;
    font-family: var(--font-padrao);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.385);
    
}

header > p {
    text-align: center;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--font-padrao);
    color:white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
    
}

nav{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 10px;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.251);
}

nav > a {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: bolder;
    font-family: var(--font-padrao);
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    transition-duration: 1s;
}

nav > a:hover{
    text-decoration: none;
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: #063D1E;
    font-weight: bolder;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

main a {
    text-decoration: none;
    background-color: var(--cor1);
    color: #193C21;
    font-weight: bolder;
    font-size: 1em;
    font-family: var(--font-padrao);
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
  }

  main a:hover {
    text-decoration: underline;
    color: var(--cor4);
  }

article > h1 {
    text-align: center;
    margin: auto;
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

article > h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    margin: auto;
    font-family: var(--fonte-android);
    font-size: 1.2em;
    font-weight: normal;
    text-indent: 10px;
    border-radius: 3px;

    
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius:10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.504);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius:  10px 10px 0px 0px;
    border-radius: 3px;
}

aside > ul {
    background-color: var(--cor1);
    list-style-type: '\2714\  ';
    list-style-position: inside;
    columns: 2;

}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 1em;
    padding: 2px;
}

footer > p {
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

footer  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-family: var(--font-padrao);
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 2m;
}




