@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

div#q1 {
    background-image: url('/imagem/Marília-Mendonça.jpg');
    background-size: 100px 100px;
    background-position: left center;
}

header{
    background-color:#777474ab;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

h1{

    color: rgba(255, 0, 0, 0.766);
    font-weight: bold;
}

nav{
    background-color: black;
    padding: 10px;
    margin:auto
}

nav > a {
    
    text-decoration: none;
    font-weight: bold;
    background-color:#777474;
    color: white;
    margin: 100px 100px 100px 100px;
    padding: 5px 5px 5px 5px;
    
}

nav > a:hover {
    text-decoration: underline;
}


footer{
    font-weight: bold;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 2px;
   margin: 20px 20px 20px 20px;
}